.container{
    border: 2px dotted black;
    display: inline-block;
}
.box{
   
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;

}

#two{
    background-color: green;
   
}

#two2{
    background-color: green;
    position: relative;
    left: 15px;
    top: 15px;
}
.parent .container{
    position: relative;
}
#two22{
    background-color: green; 
    position: absolute;
    left: 10px;
    top:10px;
  
}